.feature-list__item {
	&:not(:last-child) {
		margin-bottom: 30px;
	}
}

.feature-list__thumb {
	margin-bottom: 30px;
	padding: 25px 0;

	background-color: var(--bcg-section-btn-color);
}

.feature-list__icon {
	width: 100%;
}

.feature-list__title {
	margin-bottom: 10px;

	@include font(14px, 1.14);
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text-color);
} 

.feature-list__text {
	line-height: 1.71;
	color: var(--secondary-text-color);
}

// .feature-list {
// 	display: flex;
// 	margin-left: -30px;
// }

// .feature-list__item {
// 	margin-left: 30px;
// 	flex-basis: calc(100% / 4 - 30px);
// }

// .feature-list__thumb {
// 	margin-bottom: 30px;
// 	padding: 25px 100px;
// 	background-color: var(--bcg-section-btn-color);
// }

// .feature-list__title {
// 	margin-bottom: 10px;

// 	font-weight: 700;
// 	@include font(inherit, 1.14);
// 	text-transform: uppercase;
// }

// .feature-list__text {
// 	line-height: 1.71;
// 	color: var(--secondary-text-color);
// }