.footer {
	padding: 60px 0;

	background-color: var(--footer-hero-bcg-color);
}

.footer__wrapper {
	text-align: center;
}

.footer__logo-text,
.footer-social__title,
.footer-form__label {
	color: var(--secondary-color);
}

.footer-contacts {
	margin-top: 30px;
	font-style: normal;
}

.footer-contacts__maps {
	line-height: 1.71;
	color: var(--secondary-color);

		&:hover,
		&:focus {
			color: var(--accent-color);
				}
}

.contacts-list__tel,
.contacts-list {
	margin-top: 8px;
}

.footer-contacts__link {
	line-height: 1.71;
	color: var(--footer-contacts__link-color);

		&:hover,
		&:focus {
			color: var(--accent-color);
		}
}

.footer-social__wrapper {
	margin-top: 60px;
}

.footer-social__title,
.footer-form__label {
	line-height: 1.14;
	text-transform: uppercase;
}

.footer-social__list {
	margin-top: 20px;
}

.footer-social__link {
	background-color: rgba(255, 255, 255, 0.1);
}

.footer-social__icon {
	fill: var(--secondary-color);
}

.footer-form__wrapper {
	margin-top: 60px;
}

.footer-form__input {
	margin-top: 20px;

	width: 100%;
	padding: 16px;

	background-color: transparent;
	color: var(--secondary-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
		&:focus,
		&:hover {
			outline: none;
			border-color: var(--accent-color);
		}
}

.footer-form__btn {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 28px;
	@extend %align;

	font-weight: 700;
	line-height: 1.88;
	letter-spacing: 0.06em;

	background-color: var(--accent-color);
	color: var(--secondary-color);

	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form__icon {
	margin-left: 12px;
}

// .footer__wrapper {
// 	display: flex;
// 	justify-content: space-between;
// 	align-items: baseline;
// }


// .footer-contacts {
// 	margin-top: 20px;

// 	font-style: normal;
// }

// .footer-contacts__maps,
// .footer-contacts__link {
// 	line-height: 1.71;
// 	color: var(--secondary-color);
// }

// .contacts-list,
// .contacts-list__tel {
// 	margin-top: 9px;
// }



// 	&:hover,
// 	&:focus {
// 		color: var(--accent-color);
// 	}
// }

// .footer-contacts__maps:hover,
// .footer-contacts__maps:focus {
// 	color: var(--accent-color);
// }

// .footer-social__title,
// .footer-form__label {
// 	font-weight: 700;
// 	@include font(inherit, 1.14);
// 	text-transform: uppercase;
// }

// .footer-social__list {
// 	min-width: 206px;
// 	margin-top: 20px;
// }

// .input-btn__wrapper {
// 	display: flex;
// 	margin-top: 20px;
// }

// .footer-form__input {
// 	width: 358px;
// 	padding: 16px;

// 	background-color: transparent;
// 	color: var(--secondary-color);
// 	border: 1px solid rgba(255, 255, 255, 0.3);
// 	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
// 	border-radius: 4px;

// 	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

// 	&:focus,
// 	&:hover {
// 		outline: none;
// 		border-color: var(--accent-color);
// 		}
// }

// .footer-form__btn {
// 	@extend %align;
// 	margin-left: 12px;

// 	padding: 10px 28px;

// 	font-weight: 700;
// 	letter-spacing: 0.06em;

// 	background-color: var(--accent-color);
// 	color: var(--secondary-color);

// 	border-radius: 4px;
// 	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

// 	&:hover,
// 	&:focus {
// 		background-color: var(--bcg-btn-active-color);
// 		}
// }

// .footer-form__icon {
// 	margin-left: 10px;
// }