.social-list {
	@extend %align;
	justify-content: center;
}

.social-list__item {
	width: 44px;
	height: 44px;

	&:not(:last-child) {
		margin-right: 10px;
	}
}

.social-list__link {
	@extend %align;
	justify-content: center;

	width: 100%;
	height: 100%;
	
	border-radius: 50%;
	color: var(--primary-icon-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	
	&:hover,
	&:focus {
		color: var(--secondary-color);
		background-color: var(--accent-color);
		}
}

.social-list__icon {
	fill: currentColor;
}