:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--text-logo-color: #000000;
	--bcg-btn-active-color: #188CE8;
	--accent-color: #2196F3;
	--secondary-color: #FFFFFF;
	--footer-hero-bcg-color: #2F303A;
	--footer-contacts__link-color: rgba(255, 255, 255, 0.6);
	--bcg-section-btn-color: #F5F4FA;
	--header-border-color: #ECECEC;
	--works-card-set-border: #EEEEEE;
	--primary-icon-color: #AFB1B8;
	--bg-gradient-color: rgba(47, 48, 58, 0.4);
	--primary-font-family: 'Roboto', sans-serif;
	--secondary-font-family: 'Raleway', sans-serif;
}